.errorDisp{
    color: #dcdcbc;
    font-family: nexabook;
    font-size: 20px;
    /* margin-right: 5vw; */
    text-shadow: 0 0 20px white,0 0 40px rgb(248, 61, 14),0 0 60px yellow;
}


.log{
    color: #dcdcbc;
    font-family: nexabook;
    font-size: 30px;
    margin-right: 5vw;
    text-shadow: 0 0 20px white,0 0 40px rgb(248, 61, 14),0 0 60px yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}